body{
    background: #FFF5EC;
}

.navbar-background{
    background-color: #EFC81A;
}

@media screen and (max-width:576px) {
    .navbar{
        background-color: #EFC81A;
    }
}

/*CSS Header*/
#header{
    height: 100vh;
    display:flex;
    align-items: center;
}

#header h1{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2E266F;
}

#header .background-grid{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .background{
    position: absolute;
    z-index: 5;
}

#header .background-1{
    margin-top: -150px;
}

#header .background-2{
    position: absolute;
    margin-left: -50px;
}

#header .content{
    z-index: 1;
}

#header .overlay{
    height: 100vh;
    width: 400px;
    background-color: #EFC81A;
    position: absolute;
    z-index: 0;
    right: 0;
}

/* mobile responsive */

@media screen and (max-width:576px) {
    #header{
        margin-top: 70px;
    }
    #header,
    #header .background-grid {
        display: flex;
        align-items: unset;
    }
    #header .row{
        flex-direction: column-reverse!important;
    }
    #header .background-grid{
        width: 40vh !important;
    }
    #header .background-grid .background{
        width: 100%;
        margin-left: -30px;
    }
    #header .background-grid .background-1,
    #header .background-grid .background-2{
        display: none;
        visibility: hidden;
    }
}

/*CSS New Recipe*/

#new-recipe{
    margin-top: 100px;
    margin-bottom: 100px;
}

#new-recipe a{
    color: #FFFFFF;;
    text-decoration: none;
}

#new-recipe .title{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    color: #3F3A3A;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    border-left: 10px solid #EFC81A;
    padding-left: 10px;
}

#new-recipe .main-image{
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

#new-recipe .overlay{
    height: 500px;
    background-color: #EFC81A;
    width: 400px;
    margin-top: -50px;
    position: absolute;
    z-index: 0;
}

/*CSS popular recipe*/

#popular-recipe .title{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    color: #3F3A3A;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    border-left: 10px solid #EFC81A;
    padding-left: 10px;
}

#popular-recipe{
    margin-top: 100px;
    margin-bottom: 100px;
}

#popular-recipe .click-image{
    cursor: pointer;
    height: 400px;
    object-fit: cover;
    position: relative;
}

#popular-recipe .click-image img{
    border-radius: 20px;
}

#popular-recipe .click-image:hover{
    transform:scale(1.1) ;
    transition: 0.5s;
}

#popular-recipe .image-title{
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-shadow: 3px 0px 5px rgba(0,0,0,0.29);
}

/*pagination*/
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/*footer*/
footer{
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
}

footer h2{
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 48px;
    color: #2E266F;
    margin-bottom: 30px;
}

footer p{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
}

footer .footer-link p{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
}