body{
    background-color: #E5E5E5;
}

.navbar-background{
    background-color: #EFC81A;
}

/* detail recipe */

#detail-recipe{
    height: 100vh;
    display:flex;
    align-items: center;
    margin-top: 850px;
}

#detail-recipe .detail-image{
    text-align: center;
    border-radius: 15px;
}

#detail-recipe .detail-image h2{
    font-style: normal;
    font-weight: 500;
    font-size: 62px;
    /* line-height: 70px; */
    color: #2E266F;
}

/* #detail-recipe .like{
    position: absolute;
    margin-top: 350px;
    margin-right: 350px;
} */

/* ingredient */
#detail-recipe .detail-content{
    margin-top: 100px;
    margin-bottom: 100px;
}

#detail-recipe .detail-content h3{
font-style: normal;
font-weight: 450;
font-size: 38px;
color: #3F3A3A;
}

#detail-recipe .detail-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

/* vidio */

#detail-recipe .detail-vidio .btn{
    background-color: #EFC81A;
    width: 200px;
    box-sizing: border-box;
    border: 5px solid #EFC81A;
    border-radius: 15px;
    margin-top: 15px;
}

#detail-recipe .detail-vidio h3{
    font-style: normal;
    font-weight: 450;
    font-size: 38px;
    color: #3F3A3A;
    }

#detail-recipe .comment{
    width: 1100px;
    height: 250px;
    border-radius: 15px;
    background: #F6F5F4;
}

#detail-recipe .detail-comment{
    margin-top: 50px;
    margin-bottom: 100px;
}

#detail-recipe .detail-comment .people-comment{
    margin-top: 50px;
    margin-bottom: 500px;
}

#detail-recipe .detail-comment .people-comment h5{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

#detail-recipe .detail-comment .people-comment p{
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

/* footer */

footer{
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    margin-top: 600px;
}

footer h2{
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 48px;
    color: #2E266F;
    margin-bottom: 30px;
}

footer p{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
}

footer .footer-link p{
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    color: #707070;
}

@media screen and (max-width:576px){
    .navbar{
        background-color: #EFC81A;
    }
    #detail-recipe .all{
        margin-top: 100px!important;
    }
    #detail-recipe .detail-image img{
        width: 300px;
        height: 300px;
    }
    #detail-recipe{
        height: 70vh;
    }
    #detail-recipe .comment{
        width: 390px;
        height: 100px;
    }
}